# Gitignore
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.idea/workspace.xml
.idea/workspace.xml
app/app.iml
.gradle/5.6.4/executionHistory/executionHistory.bin
.gradle/5.6.4/executionHistory/executionHistory.lock
.gradle/5.6.4/fileHashes/fileHashes.bin
.gradle/5.6.4/fileHashes/fileHashes.lock
.gradle/5.6.4/javaCompile/classAnalysis.bin
.gradle/5.6.4/javaCompile/javaCompile.lock
.gradle/buildOutputCleanup/buildOutputCleanup.lock
.idea/workspace.xml
